@charset "UTF-8";
.container {
	background-color: #e9ecef;;
	width: 100%;
	margin-left: 0 auto;
	margin-right: 0 auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}


.primary_header {
	width: 100%;
	background-color: #E9ECEF;
	padding-top: 10px;
	padding-bottom: 10px;
}
.secondary_header {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #E9ECEF;
}

.clearfix {
	clear: both;
}

.lbl-link {
    text-decoration: none;
    font-family: "Source Sans Pro";
    font-weight: normal;
    color: #7A7A7A;
}

.lbl-link:hover, .lbl-link:focus {
    text-decoration: none;
    color: #BBBBBB;
}

.left_article {
	background-color: #e9ecef;;
	width: 100%;
	float: center;
	padding-left: 0px;
	font-family: "Source Sans Pro";
	color: #343434;
	padding-bottom: 15px;
}
.noDisplay {
	display: none;
}
.container .left_article h1{
    font-size: 40px;
    text-align: center;
    margin-top: 45%;
    margin-bottom: 0px;
    padding-top: 2%;
    color: #777777;
}

.container .left_article .lbl1 {
	font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
	margin-left: 28px;
    color: #7A7A7A;
}

.container .left_article .lbl2 {
	font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
	margin-left: 28px;
    color: #7A7A7A;
}

.container .left_article .txt{
    margin-top: 15px;
    margin-bottom: 15px;
	margin-left: 25px;
    height: 30px;
    width: 90%;
    border-radius: 15px;
    background-color: #E8E8E8;
	border-color: #FFFFFF;
    outline: none;
}
.container .left_article .pass{
	margin-top: 15px;
    margin-bottom: 0px;
	margin-left: 25px;
    height: 30px;
    width: 90%;
    border-radius: 15px;
    background-color: #E8E8E8;
	border-color: #FFFFFF;
    outline: none;
}

.container .left_article .btn{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 28px;
    border-radius: 10px;
    font-size: 18px;
    width: 90%;
    height: 30px;
    border-color: transparent;
    box-shadow: 3px 3px 5px 6px #BBBBBB;
    background-color: #AAAAAA;
    color: #FFFFFF;
    box-shadow: 0px 2px 5px 1px #BBBBBB;
}


.container .left_article p{
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 30px;
	font-size: 15px;
}

.footer {
    background-color: #E9ECEF;
    clear: both;
}

.copyright {
	text-align: center;
	font-size: 15px;
	color: #7A7A7A;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #E9ECEF;
}

.bg-style1 {
 	background-color: #f6e04f;
	border-radius: 20px;
	width: 500px;
	height: 360px;
	margin: 0 auto;
 }

.content-box{
	height: 280px;
}