@charset "UTF-8";
.container {
	background-color: #e9ecef;;
	width: 100%;
	margin-left: 0 auto;
	margin-right: 0 auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}


.primary_header {
	width: 100%;
	background-color: #E9ECEF;
	padding-top: 10px;
	padding-bottom: 10px;
}
.secondary_header {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #E9ECEF;
}

.clearfix {
	clear: both;
}

.lbl-link {
    text-decoration: none;
    font-family: "Source Sans Pro";
    font-weight: normal;
    color: #7A7A7A;
}

.lbl-link:hover, .lbl-link:focus {
    text-decoration: none;
    color: #BBBBBB;
}

.left_article {
	background-color: #e9ecef;;
	width: 100%;
	float: center;
	padding-left: 0px;
	font-family: "Source Sans Pro";
	color: #343434;
	padding-bottom: 15px;
}
.noDisplay {
	display: none;
}
.container .left_article h1{
    font-size: 45px;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 0px;
    padding-top: 2%;
    color: #777777;
}

.container .left_article hr {
	width: 80%;
	margin-top: 20px;
	margin-bottom: 0px;
}

.container .left_article .lbl1top {
	font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
	margin-left: 55px;
    color: #797d82;
	width: 35%;
	float: left;
}

.container .left_article .lbl1 {
	font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
	margin-left: 55px;
    color: #797d82;
	width: 35%;
	float: left;
}



.container .left_article .lbl2 {
	font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
	margin-left: 0px;
    color: #969ba1;
	width: 43%;
	text-align: right;
	float: left;
}

.container .left_article h4 {
	clear: both;
	visibility: hidden;
	margin-top: 0px;
	margin-bottom: 0px;
}

.container .left_article .lbl3 {
	font-size: 25px;
    margin-top: 15px;
    margin-bottom: 0px;
	margin-left: 30px;
    color: #686d72;
}

.container .left_article .btn{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 55px;
    border-radius: 10px;
    font-size: 18px;
    width: 80%;
    height: 30px;
    border-color: transparent;
    background-color: #969ba1;
    color: #FFFFFF;
    box-shadow: 0px 2px 5px 1px #BBBBBB;
}

.footer {
    background-color: #E9ECEF;
    clear: both;
}

.copyright {
	text-align: center;
	font-size: 15px;
	color: #7A7A7A;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #E9ECEF;
}

.bg-style1 {
 	background-color: #f6e04f;
	border-radius: 20px;
	width: 450px;
	height: 500px;
	margin: 0 auto;
 }

.bg-style2 {
 	background-color: #f6e04f;
	border-radius: 20px;
	width: 450px;
	height: 450px;
	margin: 0 auto;
 }

.bg-style3 {
 	background-color: #f6e04f;
	border-radius: 20px;
	width: 450px;
	height: 500px;
	margin: 0 auto;
 }

.content-box{
	height: 50px;
}

.container .left_article .h2goldt{
	color: #c1870c;
}

.container .left_article .h2gold {
	color: #DAA520;
}

.container .left_article .h3gold {
	color: #c9b44b;
}

.container .left_article .hrgold {
	background-color: #C5B358;
	border:0;
	height:3px;
}

.container .left_article .goldbtn {
	background-color: #ffd700;
    color: #ad8022;
	box-shadow: 0px 2px 5px 1px #E6BE8A;
}

.container .left_article .h2stockt{
    color: #3F464B;
}

.container .left_article .h2stock {
    color: #5A5E62;
}

.container .left_article .h3stock {
    color: #787F83;
}

.container .left_article .hrstock {
	background-color: #7e848b;
	border:0;
	height:3px;
}

.container .left_article .stockbtn {
	background-color: #0d1117;
    color: #c9d1d9;
    box-shadow: 0px 2px 5px 1px #c4ccd5;
}

.container .left_article .h2stockbg{
    width: 35%;
}

.container .left_article .h3stockbg{
    width: 53%;
}

.container .left_article .h3stocksm {
    width: 43%;
}

.container .left_article .h2stocksm {
    width: 25%;
}